body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.blockmenu{
  max-width: 20%;
}

.menu_title{
  display: block;
  background-color: #234;
  color: #CED;
  font-size: 150%;
  font-family: sans-serif;
  list-style: none;
}

/* Chrome doesn't yet support list-style: none for summary*/
summary.menu_title::-webkit-details-marker {
  display: none;
}