input{
  width: 3em;
  margin-left: .2em;
}

wb-contains{
  display: block;
  min-height: 1.25em;
  background-color: white;
  margin-right: -3px;
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Context has disclosure twisties, so a little different from other blocks */

wb-context header{
  display: inline;
}

wb-context summary{
  padding: 0.2em;
}

wb-step header, wb-value header, wb-trigger header{
  padding: 0.2em;
  display: inline;
}

/* wb-hat needs ::before */

wb-hat::before{
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  left: -15px;
  background-color: var(--color);
  border-color: var(--border);
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
}

/* header within a block */

wb-step header, wb-context header, wb-trigger header, wb-value header{
  display: inline-block;
  padding: 0.3em 0.5em;
}