/* Value blocks */
wb-value{
  display: inline-block;
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
  padding-left: 1.5em;
  background: left / 1em no-repeat #FFF url(../images/fa-svg/regular/question-circle.svg);
}

wb-contains > wb-value{
  margin-bottom: 5px;
}

wb-returns > wb-value{
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 80%;
}

/* Step blocks */
wb-step{
  display: inline-block;
  background-color: #EDE378;
  border-radius: 5px;
  border-color: #CEBD3E;
  border-width: 2px;
  border-style: solid;
  padding-left: 10px;
  /* padding-bottom: 14px; */
  position: relative;
  z-index: 0;    
}

wb-contains > wb-step{
  margin: 5px 5px 2px 2px;
}

/* Context blocks */
wb-context{
  display: inline-block;
  background-color: #EDE378;
  border-radius: 5px;
  border-color: #CEBD3E;
  border-width: 2px;
  border-style: solid;
  padding-left: 10px;
  padding-bottom: 14px;
  position: relative;
  z-index: 0;    
}

wb-contains > wb-context{
  margin: 5px 5px 2px 2px;
}

/* Trigger blocks */
wb-trigger{
  display: inline-block;
  background-color: #EDE378;
  border-radius: 5px;
  border-color: #CEBD3E;
  border-width: 2px;
  border-style: solid;
  padding-left: 10px;
  padding-bottom: 14px;
  position: relative;
  z-index: 0;    
}

wb-contains > wb-trigger{
  margin: 5px 5px 12px 2px;
}

/* Parameters */
wb-block-param, wb-input-param, wb-truth-param, wb-select-param{
  display: inline-flex;
  flex-wrap: nowrap;
  max-height: 1.6em;
}

label{
  margin-left: 0.2em;
}

input{
  width: 4em;
  margin-left: .4em;
  padding-left: 1.5em;
  border: 2px inset #333;
}

input[readonly]{
  background-color: #CCC;
}

wb-contains{
  display: block;
  min-height: 1.25em;
  background-color: white;
  margin-right: -3px;
  padding: .5em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Context has disclosure twisties, so a little different from other blocks */

wb-context summary, wb-trigger summary{
  padding: 0.2em;
  padding-bottom: 1em;
}

/* wb-hat needs ::before */

wb-hat::before{
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  left: -15px;
  background-color: var(--color);
  border-color: var(--border);
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
}

/* slot within details */
summary{
  position: relative;
}

summary > wb-slot{
  display: none;
}

details[open] > summary > wb-slot{
  display: inline-block;
  bottom: 2px;
}

/* header within a block */

wb-step header, wb-context header, wb-trigger header, wb-value header{
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start unsafe;
  padding: 0.3em 0.5em;
}

/* values within locals */
wb-locals > wb-value{
  margin-bottom: 0;
  margin-right: 1px;
}

/* Icons for types */

wb-block-param > input, wb-input-param > input{
  background: left / contain no-repeat #FFF url(../images/fa-svg/regular/question-circle.svg);
}

input[type=Text],wb-value[returnType=Text]{background-image: url(../images/fa-svg/regular/text.svg);}
input[type=Integer],wb-value[returnType=Integer]{background-image: url(../images/fa-svg/regular/abacus.svg);}
input[type=Float],wb-value[returnType=Float]{background-image: url(../images/fa-svg/regular/calculator.svg);}
input[type=Truth],wb-value[returnType=Truth]{background-image: url(../images/fa-svg/regular/light-switch.svg);}
input[type=Colour],wb-value[returnType=Colour]{background-image: url(../images/fa-svg/regular/palette.svg);}
input[type=Vector],wb-value[returnType=Vector]{background-image: url(../images/fa-svg/regular/crosshairs.svg);}
input[type=Image],wb-value[returnType=Image]{background-image: url(../images/fa-svg/regular/image.svg);}
input[type=Sprite],wb-value[returnType=Sprite]{background-image: url(../images/fa-svg/regular/images.svg);}
input[type=Angle],wb-value[returnType=Angle]{background-image: url(../images/fa-svg/regular/drafting-compass.svg);}
input[type=Shape],wb-value[returnType=Shape]{background-image: url(../images/fa-svg/regular/shapes.svg);}
input[type$=List],wb-value[returnType$=List]{background-image: url(../images/fa-svg/regular/list.svg);}

/* Accessories for blocks */

/* top decoration for steps and contexts */
wb-tab{
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 15px;
  top: -12px;
}

/* top decoration for triggers */
wb-hat{
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 12px;
  left: 5px;
  top: -12px;
  overflow: hidden;
}

/* Indicator for a next block for after steps and contexts and inside contexts and triggers */
wb-slot{
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  width: 40px;
  height: 12px;
  left: 15px;
  bottom: 0px;
  fill: white;
}

/* Container for values local to a block */
wb-locals{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 1px;
  border-radius: 5px;
}

/* Container for the single result block of a step or context */
wb-returns{
  position: relative;
  display: inline-block;
  padding: 1px;
  background-color: white;
  border-radius: 5px;
  border: 3px inset grey;
  margin-left: 2em;
}
