wb-returns > wb-value {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 80%;
}


wb-contains > wb-trigger {
  margin: 5px 5px;
  margin-top: 12px;
}




/* values within locals */
wb-locals > wb-value {
  margin-bottom: 0;
  margin-right: 1px;
}

/* Icons for types */

wb-block-param > input,
wb-input-param > input {
  background: left / contain no-repeat #fff
    url(../images/fa-svg/regular/question-circle.svg);
}

wb-block-param > input,
wb-input-param > input,
wb-value {
  background-color: var(--color);
  border-color: var(--border);
  background-image: var(--image);
}


/* Indicator for a next block for after steps and contexts and inside contexts and triggers */
wb-slot {
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  width: 40px;
  height: 12px;
  left: 15px;
  bottom: 0px;
  fill: white;
}

